@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark
}

@theme {
  --color-primary: #155DFC;
  --color-primary-content: #ffffff;
  --color-secondary: #0F172B;
  --color-secondary-content: #ffffff;
}

/* Tooltip theme variables */
:root {
  --primary: #155DFC !important;
  --secondary: #0F172B !important;
  --tooltip-bg: #ffffff;
  /* Light mode background */
  --tooltip-border: #ddd;
  /* Light mode border */
}

[data-theme="dark"] {
  --tooltip-bg: #1d232a;
  /* Dark mode background */
  --tooltip-border: #1d232a;
  /* Dark mode border */
}

/* Ultra-minimal custom scrollbar */

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 6px;
  /* thin */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  /* no background */
}

::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  /* very light gray (Tailwind: gray-200) */
  border-radius: 9999px;
  /* fully rounded */
}

::-webkit-scrollbar-button {
  display: none;
  /* remove increment/decrement buttons */
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  /* thin scrollbar */
  scrollbar-color: #e5e7eb transparent;
  /* thumb | track */
}